# Information Extraction

**Author**: Manaranjan Pradhan <br/>
www.manaranjanp.com

In [ ]:
!pip install -q langchain openai

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 19.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 220.3/220.3 kB 19.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.1/46.1 kB 4.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.0/75.0 kB 7.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 6.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.9/76.9 kB 10.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 7.9 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
llmx 0.0.15a0 requires cohere, which is not installed.
llmx 0.0.15a0 requires tiktoken, which is not installed.

[Source: Washington Post](https://www.washingtonpost.com/climate-environment/2023/04/11/electric-vehicle-buying-guide/)

## Accesing the Page Content

In [ ]:
import requests

In [ ]:
url = "https://www.zigwheels.com/newcars/electric-cars"

In [ ]:
from bs4 import BeautifulSoup

html = requests.get(url).text
soup = BeautifulSoup(html)
text = soup.get_text()

In [ ]:
print(text[0:1000])

Electric Cars in India, EV Car Prices, Mileage, Battery Cars @ ZigWheels

























rvmp_make,rvmp_forum_ask_car_owner,rvmp_question_box,rvmp_running_cost_form,rvmp_story_script,rvmp_running_cost_form


















0













































News & Reviews

Auto News
Expert Reviews
User Reviews
Ask a Question
Auto Visual Stories
Photo Gallery
Video Gallery



New Cars

Find New Cars


Popular Car Brands

 Renault Cars
 Skoda Cars
 Jeep Cars
 Citroen Cars
 Hyundai Cars
 Tata Cars
 Maruti Suzuki Cars
 Kia Cars
 Mahindra Cars
 Toyota Cars
 Honda Cars
 MG Cars
 All Car Brands



Popular Car Models

 Maruti Grand Vitara
 Renault Kiger
 Skoda Slavia
 Tata Punch
 Hyundai Exter
 Maruti FRONX
 Maruti Swift
 Jeep Wrangler
 Jeep Compass
 Hyundai Creta
 Kia Sonet
 Mahindra Thar
 Volkswagen Tiguan
 Mahindra Scorpio N
 Toyota Innova Hycross
 Best Cars in India



Cars By Budget

 Cars Under 5 Lakhs
 Cars Under 8 Lakhs
 Cars Under 10 Lakhs
 Cars Under 15

In [ ]:
beginning = 'Popular Electric Cars in 2023'
ending = "Key Highlights of Electric Cars"
final_text = text[text.index(beginning):text.index(ending)]
final_text = final_text.replace("\n", "\t")

In [ ]:
print(final_text)

Popular Electric Cars in 2023							4.6	|  136 reviews					Tata Tiago EV			Rs. 8.69 Lakh		Check On-Road Price »	19.2 KWh | 45 kW | 315 km/charge	View November Offers									3.4	|  27 reviews					Tata Nexon EV			Rs. 14.74 Lakh		Check On-Road Price »	30 kWh | 95 kW | 465 km/charge	View November Offers									4	|  46 reviews					Kia EV6			Rs. 60.95 Lakh		Check On-Road Price »	77.4 kWh | 708 km/charge | 0 km/h	View November Offers									4.5	|  82 reviews					Mahindra XUV400 EV			Rs. 15.98 Lakh		Check On-Road Price »	34.5 kWh | 100 kW | 456 km/charge	View November Offers									3.5	|  67 reviews					MG Comet EV			Rs. 7.98 Lakh		Check On-Road Price »	17.3 kWh | 40.14bhp | 230 km/charge	View November Offers									5	|  17 reviews					BMW i7			Rs. 2.03 Crore		Check On-Road Price »	101.7kW | 400 kW | 625 km/charge	View November Offers									4.8	|  44 reviews					Tata Tigor EV			Rs. 12.49 Lakh		Check On-Road Price »	26 kWh | 315 km/charge | 0 km/h	View November Offers									4.2	|  21 reviews					BMW iX			Rs. 1.21 Crore		Check On-Road Price »	71 kW | 240 kW | 425 km/charge	View November Offers									4.2	|  39 reviews					MG ZS EV			Rs. 22.88 Lakh		Check On-Road Price »	50.3 kWh | 129 kW | 461 km/charge	View November Offers									4.3	|  40 reviews					Citroen eC3			Rs. 11.61 Lakh		Check On-Road Price »	29.2 kWh | 42 kW | 320 km/charge	View November Offers									4	|  46 reviews					Hyundai Kona Electric			Rs. 23.84 Lakh		Check On-Road Price »	39.2 kWh | 100 kW | 452 km/charge	View November Offers											Lotus Eletre			Rs. 2.55 Crore		Check On-Road Price »	258 km/h | Electric	View November Offers									4.7	|  read reviews					Mercedes-Benz EQS			Rs. 1.59 Crore		Check On-Road Price »	107.8 kwh | 857 km/charge | 210 km/h	Contact Dealer									4.1	|  29 reviews					BMW i4			Rs. 72.50 Lakh		Check On-Road Price »	70.2kWh | 210 kW | 590 km/charge	View November Offers									4.8	|  24 reviews					Audi e-tron GT			Rs. 1.70 Crore		Check On-Road Price »	93 kWh | 390 kW | 388 km/charge	View November Offers									4.1	|  44 reviews					BYD Atto 3			Rs. 33.99 Lakh		Check On-Road Price »	60.48 kWh | 150 kW | 521 km/charge	View November Offers									4.6	|  47 reviews					BYD E6			Rs. 29.15 Lakh		Check On-Road Price »	71.7 kWh | 70 kW | 415 km/charge	View November Offers									4	|  24 reviews					Audi e-tron			Rs. 1.02 Crore		Check On-Road Price »	95 kwh | 300 kW | 484 km/charge	View November Offers									4.8	|  read reviews					Porsche Taycan			Rs. 1.60 Crore		Check On-Road Price »	93.4 | 560 kW | 395 km/charge	View November Offers									5	|  read reviews					Audi RS e-tron GT			Rs. 1.93 Crore		Check On-Road Price »	93 kWh | 475 kW | 401 km/charge	View November Offers									4.2	|  18 reviews					Jaguar I-Pace			Rs. 1.19 Crore		Check On-Road Price »	90 kW | 294 kW | 470 km/charge	View November Offers									1	|  11 reviews					PMV EaS E			Rs. 4.79 Lakh		Check On-Road Price »	10kWh | 160 km/charge | 70 km/h	View November Offers									4.8	|  21 reviews					Mercedes-Benz EQB			Rs. 77.50 Lakh		Check On-Road Price »	66.5Kwh | 423 km/charge | 160 km/h	Contact Dealer									4	|  27 reviews					Volvo XC40 Recharge			Rs. 56.90 Lakh		Check On-Road Price »	78 kW | 402.41 bhp | 418 km/charge	View November Offers									4.7	|  19 reviews					Strom Motors R3			Rs. 4.50 Lakh		Check On-Road Price »	15 kW | 200 km/charge | 80 km/h	View November Offers									2.6	|  28 reviews					Mini Cooper SE			Rs. 53.50 Lakh		Check On-Road Price »	32.6 KwH | 135 kW | 270 km/charge	View November Offers									4.6	|  read reviews					Hyundai IONIQ 5			Rs. 45.95 Lakh		Check On-Road Price »	72.6 kWh | 160 kW | 631 km/charge	View November Offers									5	|  read reviews					BMW iX1			Rs. 66.90 Lakh		Check On-Road Price »	66.4 kwh | 230 kW | 417 km/charge	View November Offers									4.7	|  read reviews					Volvo C40 Recharge			Rs. 62.95 Lakh		Check On-Road Price »	78kWh | 402.30 | 530 km/charge	View November Offers											Mercedes-Benz EQE SUV			Rs. 1.39 Crore		Check On-Road Price »	90.56 kWh | 402.3 | 550 km/charge	View November Offers											Audi Q8 e-tron			Rs. 1.13 Crore		Check On-Road Price »	114kWh | 335.25 | 582 km/charge	View November Offers									4	|  read reviews					Pravaig DEFY			Rs. 39.50 Lakh		Check On-Road Price »	90.9 | 300 | 500 km/charge	View November Offers											Mercedes-Benz AMG EQS			Rs. 2.45 Crore		Check On-Road Price »	107.8kwh | 580 km/charge | 250 km/h	View November Offers											Audi Q8 Sportback e-tron			Rs. 1.18 Crore		Check On-Road Price »	95kWh | 335.25 | 600 km/charge	View November Offers						View More Cars

In [ ]:
len(final_text)

4621

### Storing the page content in file

In [ ]:
with open("ev_article.txt", "w") as f:
    f.write(final_text)

### Libararies or components used.

- OpenAI (https://platform.openai.com/)
- LangChain (https://langchain.com/)

## Configuring LLM for Query

In [ ]:
import os
import openai
from getpass import getpass
from pprint import pprint

In [ ]:
os.environ['OPENAI_API_KEY'] = getpass("OpenAI Key:")

OpenAI Key:··········

In [ ]:
openai.api_key  = os.getenv('OPENAI_API_KEY')

### Initializing the OpenAI Chat Model

In [ ]:
from langchain.chat_models import ChatOpenAI
from langchain.chains import create_extraction_chain, create_extraction_chain_pydantic
from langchain.prompts import ChatPromptTemplate

In [ ]:
from langchain.chat_models import ChatOpenAI
from langchain.chains.conversation.memory import ConversationBufferWindowMemory
from langchain.chains import RetrievalQA

# chat completion llm
llm = ChatOpenAI(
    model_name='gpt-3.5-turbo-0613',
    temperature=0.0
)

### Configuring the Retrieval QA Chain

https://json-schema.org/understanding-json-schema/

In [ ]:
schema = {
    "properties": {
        "model_name": {"type": "string"},
        "price": {"type": "string"},
        "range_kms": {"type": "integer"},
        "battery_capacity": {"type": "integer"},
    },
    "required": ["person_name", "price_lakhs", "range_kms"],
}

### Configurating Conversational Memory

In [ ]:
chain = create_extraction_chain(schema, llm)

In [ ]:
print(chain.prompt.messages[0])

prompt=PromptTemplate(input_variables=['input'], template="Extract and save the relevant entities mentioned in the following passage together with their properties.\n\nOnly extract the properties mentioned in the 'information_extraction' function.\n\nIf a property is not present and is not required in the function parameters, do not include it in the output.\n\nPassage:\n{input}\n")

In [ ]:
print(chain.prompt.messages[0].prompt.template)

Extract and save the relevant entities mentioned in the following passage together with their properties.

Only extract the properties mentioned in the 'information_extraction' function.

If a property is not present and is not required in the function parameters, do not include it in the output.

Passage:
{input}

In [ ]:
chain.llm_kwargs

{'functions': [{'name': 'information_extraction',
   'description': 'Extracts the relevant information from the passage.',
   'parameters': {'type': 'object',
    'properties': {'info': {'type': 'array',
      'items': {'type': 'object',
       'properties': {'model_name': {'title': 'model_name', 'type': 'string'},
        'price': {'title': 'price', 'type': 'string'},
        'range_kms': {'title': 'range_kms', 'type': 'integer'},
        'battery_capacity': {'title': 'battery_capacity', 'type': 'integer'}},
       'required': ['person_name', 'price_lakhs', 'range_kms']}}},
    'required': ['info']}}],
 'function_call': {'name': 'information_extraction'}}

## Asking Questions

In [ ]:
response = chain.run(final_text)
response

[{'model_name': 'Tata Tiago EV',
  'price': 'Rs. 8.69 Lakh',
  'range_kms': 315,
  'battery_capacity': 19.2},
 {'model_name': 'Tata Nexon EV',
  'price': 'Rs. 14.74 Lakh',
  'range_kms': 465,
  'battery_capacity': 30},
 {'model_name': 'Kia EV6',
  'price': 'Rs. 60.95 Lakh',
  'battery_capacity': 77.4},
 {'model_name': 'Mahindra XUV400 EV',
  'price': 'Rs. 15.98 Lakh',
  'range_kms': 456,
  'battery_capacity': 34.5},
 {'model_name': 'MG Comet EV',
  'price': 'Rs. 7.98 Lakh',
  'range_kms': 230,
  'battery_capacity': 17.3},
 {'model_name': 'BMW i7',
  'price': 'Rs. 2.03 Crore',
  'range_kms': 625,
  'battery_capacity': 101.7},
 {'model_name': 'Tata Tigor EV',
  'price': 'Rs. 12.49 Lakh',
  'range_kms': 315,
  'battery_capacity': 26},
 {'model_name': 'BMW iX',
  'price': 'Rs. 1.21 Crore',
  'range_kms': 425,
  'battery_capacity': 71},
 {'model_name': 'MG ZS EV',
  'price': 'Rs. 22.88 Lakh',
  'range_kms': 461,
  'battery_capacity': 50.3},
 {'model_name': 'Citroen eC3',
  'price': 'Rs. 11.61 Lakh',
  'range_kms': 320,
  'battery_capacity': 29.2},
 {'model_name': 'Hyundai Kona Electric',
  'price': 'Rs. 23.84 Lakh',
  'range_kms': 452,
  'battery_capacity': 39.2},
 {'model_name': 'Lotus Eletre', 'price': 'Rs. 2.55 Crore'},
 {'model_name': 'Mercedes-Benz EQS',
  'price': 'Rs. 1.59 Crore',
  'range_kms': 857,
  'battery_capacity': 107.8},
 {'model_name': 'BMW i4',
  'price': 'Rs. 72.50 Lakh',
  'range_kms': 590,
  'battery_capacity': 70.2},
 {'model_name': 'Audi e-tron GT',
  'price': 'Rs. 1.70 Crore',
  'range_kms': 388,
  'battery_capacity': 93},
 {'model_name': 'BYD Atto 3',
  'price': 'Rs. 33.99 Lakh',
  'range_kms': 521,
  'battery_capacity': 60.48},
 {'model_name': 'BYD E6',
  'price': 'Rs. 29.15 Lakh',
  'range_kms': 415,
  'battery_capacity': 71.7},
 {'model_name': 'Audi e-tron',
  'price': 'Rs. 1.02 Crore',
  'range_kms': 484,
  'battery_capacity': 95},
 {'model_name': 'Porsche Taycan',
  'price': 'Rs. 1.60 Crore',
  'range_kms': 395,
  'battery_capacity': 93.4},
 {'model_name': 'Audi RS e-tron GT',
  'price': 'Rs. 1.93 Crore',
  'range_kms': 401,
  'battery_capacity': 93},
 {'model_name': 'Jaguar I-Pace',
  'price': 'Rs. 1.19 Crore',
  'range_kms': 470,
  'battery_capacity': 90},
 {'model_name': 'PMV EaS E',
  'price': 'Rs. 4.79 Lakh',
  'range_kms': 160,
  'battery_capacity': 10},
 {'model_name': 'Mercedes-Benz EQB',
  'price': 'Rs. 77.50 Lakh',
  'range_kms': 423,
  'battery_capacity': 66.5},
 {'model_name': 'Volvo XC40 Recharge',
  'price': 'Rs. 56.90 Lakh',
  'range_kms': 418,
  'battery_capacity': 78},
 {'model_name': 'Strom Motors R3',
  'price': 'Rs. 4.50 Lakh',
  'range_kms': 200,
  'battery_capacity': 15},
 {'model_name': 'Mini Cooper SE',
  'price': 'Rs. 53.50 Lakh',
  'range_kms': 270,
  'battery_capacity': 32.6},
 {'model_name': 'Hyundai IONIQ 5',
  'price': 'Rs. 45.95 Lakh',
  'range_kms': 631,
  'battery_capacity': 72.6},
 {'model_name': 'BMW iX1',
  'price': 'Rs. 66.90 Lakh',
  'range_kms': 417,
  'battery_capacity': 66.4},
 {'model_name': 'Volvo C40 Recharge',
  'price': 'Rs. 62.95 Lakh',
  'range_kms': 530,
  'battery_capacity': 78},
 {'model_name': 'Mercedes-Benz EQE SUV',
  'price': 'Rs. 1.39 Crore',
  'range_kms': 550,
  'battery_capacity': 90.56},
 {'model_name': 'Audi Q8 e-tron',
  'price': 'Rs. 1.13 Crore',
  'range_kms': 582,
  'battery_capacity': 114},
 {'model_name': 'Pravaig DEFY',
  'price': 'Rs. 39.50 Lakh',
  'range_kms': 500,
  'battery_capacity': 90.9},
 {'model_name': 'Mercedes-Benz AMG EQS',
  'price': 'Rs. 2.45 Crore',
  'range_kms': 580,
  'battery_capacity': 107.8},
 {'model_name': 'Audi Q8 Sportback e-tron',
  'price': 'Rs. 1.18 Crore',
  'range_kms': 600,
  'battery_capacity': 95}]

In [ ]:
type(response)

list

### To buy or to wait

In [ ]:
import pandas as pd
import json

In [ ]:
ev_df = pd.read_json(json.dumps(response))

In [ ]:
ev_df

                  model_name           price  range_kms  battery_capacity
0              Tata Tiago EV   Rs. 8.69 Lakh      315.0             19.20
1              Tata Nexon EV  Rs. 14.74 Lakh      465.0             30.00
2                    Kia EV6  Rs. 60.95 Lakh        NaN             77.40
3         Mahindra XUV400 EV  Rs. 15.98 Lakh      456.0             34.50
4                MG Comet EV   Rs. 7.98 Lakh      230.0             17.30
5                     BMW i7  Rs. 2.03 Crore      625.0            101.70
6              Tata Tigor EV  Rs. 12.49 Lakh      315.0             26.00
7                     BMW iX  Rs. 1.21 Crore      425.0             71.00
8                   MG ZS EV  Rs. 22.88 Lakh      461.0             50.30
9                Citroen eC3  Rs. 11.61 Lakh      320.0             29.20
10     Hyundai Kona Electric  Rs. 23.84 Lakh      452.0             39.20
11              Lotus Eletre  Rs. 2.55 Crore        NaN               NaN
12         Mercedes-Benz EQS  Rs. 1.59 Crore      857.0            107.80
13                    BMW i4  Rs. 72.50 Lakh      590.0             70.20
14            Audi e-tron GT  Rs. 1.70 Crore      388.0             93.00
15                BYD Atto 3  Rs. 33.99 Lakh      521.0             60.48
16                    BYD E6  Rs. 29.15 Lakh      415.0             71.70
17               Audi e-tron  Rs. 1.02 Crore      484.0             95.00
18            Porsche Taycan  Rs. 1.60 Crore      395.0             93.40
19         Audi RS e-tron GT  Rs. 1.93 Crore      401.0             93.00
20             Jaguar I-Pace  Rs. 1.19 Crore      470.0             90.00
21                 PMV EaS E   Rs. 4.79 Lakh      160.0             10.00
22         Mercedes-Benz EQB  Rs. 77.50 Lakh      423.0             66.50
23       Volvo XC40 Recharge  Rs. 56.90 Lakh      418.0             78.00
24           Strom Motors R3   Rs. 4.50 Lakh      200.0             15.00
25            Mini Cooper SE  Rs. 53.50 Lakh      270.0             32.60
26           Hyundai IONIQ 5  Rs. 45.95 Lakh      631.0             72.60
27                   BMW iX1  Rs. 66.90 Lakh      417.0             66.40
28        Volvo C40 Recharge  Rs. 62.95 Lakh      530.0             78.00
29     Mercedes-Benz EQE SUV  Rs. 1.39 Crore      550.0             90.56
30            Audi Q8 e-tron  Rs. 1.13 Crore      582.0            114.00
31              Pravaig DEFY  Rs. 39.50 Lakh      500.0             90.90
32     Mercedes-Benz AMG EQS  Rs. 2.45 Crore      580.0            107.80
33  Audi Q8 Sportback e-tron  Rs. 1.18 Crore      600.0             95.00

In [ ]:
ev_df['price_lakhs'] = ev_df.price.map(lambda x: (float(x.split(" ")[1])*100
                                                if 'crore' in (x.split(" ")[2].lower())
                                                else float(x.split(" ")[1])))

In [ ]:
ev_df['make'] = ev_df.model_name.map(lambda x: x.split()[0])

In [ ]:
ev_df[0:10]

,model_name,price,range_kms,battery_capacity,price_lakhs,make
0,Tata Tiago EV,Rs. 8.69 Lakh,315.0,19.2,8.69,Tata
1,Tata Nexon EV,Rs. 14.74 Lakh,465.0,30.0,14.74,Tata
2,Kia EV6,Rs. 60.95 Lakh,NaN,77.4,60.95,Kia
3,Mahindra XUV400 EV,Rs. 15.98 Lakh,456.0,34.5,15.98,Mahindra
4,MG Comet EV,Rs. 7.98 Lakh,230.0,17.3,7.98,MG
5,BMW i7,Rs. 2.03 Crore,625.0,101.7,203.00,BMW
6,Tata Tigor EV,Rs. 12.49 Lakh,315.0,26.0,12.49,Tata
7,BMW iX,Rs. 1.21 Crore,425.0,71.0,121.00,BMW
8,MG ZS EV,Rs. 22.88 Lakh,461.0,50.3,22.88,MG
9,Citroen eC3,Rs. 11.61 Lakh,320.0,29.2,11.61,Citroen

In [ ]:
ev_df.to_csv('ev_models.csv', index = False)

## Using Pydantic

https://docs.pydantic.dev/latest/

```
schema = {
    "properties": {
        "model_name": {"type": "string"},
        "price": {"type": "string"},
        "range_kms": {"type": "integer"},
        "battery_capacity": {"type": "integer"},
    },
    "required": ["person_name", "price_lakhs", "range_kms"],
}

```

In [ ]:
from typing import Optional, List
from pydantic import BaseModel, Field
from langchain.chains import create_extraction_chain_pydantic

In [ ]:
# Pydantic data class
class Properties(BaseModel):
    model_name: str = Field(description="The name of the EV model")
    price: str = Field(description="Price of the model in lakhs (Indian Rupees)")
    range_kms: int = Field(description="Kilometers it would travel aftera single full charge")
    battery_capacity: Optional[int] = Field(description="Battery Capacity of the model")

In [ ]:
chain = create_extraction_chain_pydantic(pydantic_schema=Properties, llm=llm)

In [ ]:
pprint(print(chain.prompt.messages[0].prompt.template))

Extract and save the relevant entities mentioned in the following passage together with their properties.

Only extract the properties mentioned in the 'information_extraction' function.

If a property is not present and is not required in the function parameters, do not include it in the output.

Passage:
{input}

None

In [ ]:
chain.llm_kwargs

{'functions': [{'name': 'information_extraction',
   'description': 'Extracts the relevant information from the passage.',
   'parameters': {'type': 'object',
    'properties': {'info': {'type': 'array',
      'items': {'type': 'object',
       'properties': {'model_name': {'title': 'Model Name',
         'description': 'The name of the EV model',
         'type': 'string'},
        'price': {'title': 'Price',
         'description': 'Price of the model in lakhs (Indian Rupees)',
         'type': 'string'},
        'range_kms': {'title': 'Range Kms',
         'description': 'Kilometers it would travel aftera single full charge',
         'type': 'integer'},
        'battery_capacity': {'title': 'Battery Capacity',
         'description': 'Battery Capacity of the model',
         'type': 'integer'}},
       'required': ['model_name', 'price', 'range_kms']}}},
    'required': ['info']}}],
 'function_call': {'name': 'information_extraction'}}

In [ ]:
response = chain.run(final_text)
response

ValidationError: ignored

In [ ]:
pd.DataFrame([(x.model_name, x.price, x.range_kms, x.battery_capacity) for x in response])